@using PagedList;
@using PagedList.Mvc;
@model IPagedList<TableFilter.Models.Employee>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table table-hover table-bordered mt-3">
    <thead>
        <tr>
            <th>Ad <i class="fas fa-filter" id=0></i></th>
            <th>Soyad <i class="fas fa-filter" id=1></i></th>
            <th>Şirket <i class="fas fa-filter" id=2></i></th>
        </tr>
    </thead>
    <tbody id="tableBody">
        @*@foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Surname</td>
                <td>@item.Company</td>
            </tr>
        }*@
    </tbody>
</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))



<div class="modal" tabindex="-1" id="modalSearch" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" id="filterText" class="form-control" placeholder="Aranacak kelimiye giriniz..." />
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-sm btn-warning" id="btnSearch">Ara</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $.ajax({
                type: 'Get',
                url: '/Home/Filter',
                dataType: 'json',
                contentType: "application/json; charset=utf-8;",
                success: function (data) {
                    $('#tableBody').html('');
                    let htmlString = '';
                    $.each(data, function (i, el) {

                        htmlString += `<tr>
                                                       <tr>
                                                            <td>${el.Name}</td>
                                                            <td>${el.Surname}</td>
                                                            <td>${el.Company}</td>
                                                       </tr>

                                                  </tr>`;

                    });

                    $('#tableBody').html(htmlString);

                }
            })
        });

        $('body').on('click', '.fa-filter', function () {
            $(this).addClass('activeFilter');
            $('#modalSearch').modal('toggle');
        });



        $('body').on('click', '#btnSearch', function () {
            $('#modalSearch').modal('toggle');
            let q = $('#filterText').val();
            var active = $('.activeFilter');
            var activeId = active.attr('id');
            active.removeClass('activeFilter');
            $.ajax({
                type: 'Get',
                url: '/Home/Filter',
                data: { q: q, filterType: activeId },
                dataType: 'json',
                contentType: "application/json; charset=utf-8;",
                success: function (data) {
                    $('#tableBody').html('');
                    let htmlString = '';
                    $.each(data, function (i, el) {

                        htmlString += `<tr>
                                                       <tr>
                                                            <td>${el.Name}</td>
                                                            <td>${el.Surname}</td>
                                                            <td>${el.Company}</td>
                                                       </tr>

                                                  </tr>`;

                    });

                    $('#tableBody').html(htmlString);

                }
            })
        });




    </script>

}
